.login {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login__left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 2;
  background-color: white;
}

.login__form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  margin-bottom: 16px;
}

.login__button {
  margin-top: 16px;
}

.login__right {
  background-color: #ddebff;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

.login__info {
  width: 400px;
}

.info__headline {
  margin-bottom: 8px;
}

.info__text {
  line-height: 1.7;
}

.login__signup {
  margin-top: 16px;
}
