.expense-modal__form {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 550px;
}

.expense-modal__input:not(:last-child) {
  margin-right: 16px;
}

.expense-modal__input--name {
  flex-grow: 1;
}

.expense-modal__input--amount {
  width: 150px;
}

.expense-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
}
