.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 768px;
    text-align: center;
    padding: 48px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px #ddd, 0 1px 2px #ddd;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}

.modal__close {
    padding: 8px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #999;
}